@use 'variables' as *;

:host {
    display: flex;
    background: $primary-color;
    color: rgb(158, 158, 158);
    padding: 4.5rem 0;
    text-align: center;
    min-height: 120px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    .overallInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;


        li {
            margin-left: 1.5rem;
            list-style-type: none;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;

            &:first-child {
                margin: 0;
            }

            &:hover {
                color: rgb(255, 152, 0);
            }
        }
    }


    .gitLink {
        margin-top: 1.25rem;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        margin: 0 auto;
        padding: 0;
        width: 100%;


        a {
            img {
                width: 18px;
                height: 18px;
            }
        }
    }
}