:host {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid transparent;
    background-color: #fff;

    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        min-height: 60px;
        padding: 0px 1.5rem;


        .home-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(51, 51, 51);
            border-width: medium;
            border-style: none;
            border-color: currentColor;
            border-image: initial;
            text-decoration: none;
            background-color: transparent;
            cursor: pointer;


            img {
                width: 40px;
                height: 40px;
                overflow: hidden;
            }
        }


        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            margin: 0px;

            li {
                margin-right: 1.75rem; 
                padding-left: 0;  
                list-style-type: none;
                // display: list-item;
                
                &:last-child {
                    margin: 0;
                }


                .nav-item {
                    font-weight: 700;
                    color: rgb(51, 51, 51);
                    border-width: medium;
                    border-style: none;
                    border-color: currentColor;
                    font-size: 18px;
                    transition: 0.1s;


                    &:hover {
                        color: rgb(255, 152, 0);
                    }


                    span {
                        border-radius: 0.5rem;
                        padding: 0.5rem 1rem;
                        border: 1px solid rgb(255, 152, 0);
                        font-size: 0.75rem;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 14px;
                        margin: 0;


                        &:hover {
                            background-color: rgb(255, 152, 0);
                            color: #fff;
                            border: 1px solid transparent;
                        }
                    }
                }
            }

        }
    }
}