<nav class="header">
    <a href="/" class="home-icon">
        <img src="assets/logoIcon.svg" alt="logo icon">
    </a>
    <ul>
        <li>
            <a class="nav-item" href="https://rickandmortyapi.com/documentation">Docs</a>
        </li>
        <li>
            <a class="nav-item" href="https://rickandmortyapi.com/about">About</a>
        </li>
        <li>
            <a class="nav-item" href="https://rickandmortyapi.com/support-us">
                <span>Support us</span>
            </a>
        </li>
    </ul>
</nav>