$primary-color: rgb(32, 35, 41);
$secondary-color: rgb(60, 62, 68);
$hover-color: rgb(255, 152, 0);
$main-gray: #9e9e9e;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;