@use 'variables' as *;


.filterContainer {
    background-color: $main-gray;
    color: black;
    cursor: pointer;
    padding: 12px;
    border-radius: 9px;
    position: relative;



    .filtersHeader {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 6px;
        white-space: nowrap;
        margin: 0;

        img {
            width: 16px;
            height: 16px;
            object-fit: contain;
        }

    }

    .allFilters {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
        gap: 6px;
        
        .status {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;
            font-size: 16px;
            gap: 6px;
            width: 100%;

            img {
                width: 12px;
                height: 12px;
                margin: 0;
            }
        }
    }

    .statusOptions {
        background-color: $main-gray;
        position: absolute;
        right: 105%;
        width: max-content;
        top: 50%;
        border-radius: 9px;
        padding: 12px;
        transition: opacity 0.3s ease;

        div {
            &:hover {
                color: orangered;
            }
        }
    }
}